<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce Marcos Martos</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>

  <body>
    <h1>Ecommerce Curso Backend</h1>
    {{{body}}}
  </body>

</html>